*       @tak-st
src/main/java/ckn/yakitori/server/mountain.java       @Toyoda9
src/test/java/ckn/yakitori/server/mountainTest.java       @Toyoda9
src/main/java/ckn/yakitori/server/deadTile.java       @Toyoda9
src/test/java/ckn/yakitori/server/deadTileTest.java       @Toyoda9
src/main/java/ckn/yakitori/share/discard/discardTile.java       @nakafuji-m
src/test/java/ckn/yakitori/share/discard/discardTileTest.java       @nakafuji-m
src/main/java/ckn/yakitori/share/discard/discardArea.java       @nakafuji-m
src/test/java/ckn/yakitori/share/discard/discardAreaTest.java       @nakafuji-m
src/main/java/ckn/yakitori/share/rule.java       @nakafuji-m
src/test/java/ckn/yakitori/share/ruleTest.java       @nakafuji-m
src/main/java/ckn/yakitori/share/player.java       @nakafuji-m
src/test/java/ckn/yakitori/share/playerTest.java       @nakafuji-m
src/main/java/ckn/yakitori/share/yaku/       @M-Reiji
src/main/resources/tileSet/sumida/       @kamatamaudon3
src/main/resources/tileSet/sumida/red/       @ecccomp123
*.fxml       @Toyoda9
